{% load custom_filters %}
{% load static %}

<style>
    .social-icon {
        margin-right: 6px; /* Adjust the margin to control the spacing */
    }

    a {
        text-decoration: none;
    }
</style>

<div class="anchortags pb-3 d-flex justify-content-between">
    <div>
        {# Share on Twitter #}
        <a href="https://twitter.com/intent/tweet?url={{ instance.get_absolute_url|urlencode }}" target="_blank" class="social-icon">
            <img src="{% static 'images/twitter-icon.svg' %}" alt="Twitter Share" width="24" height="24">
        </a>

        {# Share on Facebook #}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ instance.get_absolute_url|urlencode }}" target="_blank" class="social-icon">
            <img src="{% static 'images/facebook-icon.svg' %}" alt="Facebook Share" width="20" height="20">
        </a>

        {# Share on WhatsApp #}
        <a href="whatsapp://send?text={{ instance.get_absolute_url|urlencode }}" target="_blank" class="social-icon">
            <img src="{% static 'images/whatsapp-icon.svg' %}" alt="WhatsApp Share" width="20" height="20">
        </a>

        {# Share on LinkedIn #}
        <a href="https://www.linkedin.com/shareArticle?url={{ instance.get_absolute_url|urlencode }}" target="_blank" class="social-icon">
            <img src="{% static 'images/linkedin-icon.svg' %}" alt="LinkedIn Share" width="30" height="30">
        </a>
    </div>
</div>
