{% extends "base.html" %}

{% load static %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}Password reset sent{% endblock head_title %}

{% block content %}

<legend class="border-bottom mb-4">Password reset sent</legend>
<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
{% endblock %}