{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load markdown_deux_tags %}

{% block content %}

  <div class="container">
    <div class="profile-header">
      <legend class="border-bottom mb-4 profile-title">Profile Details</legend>
      <a class="edit-profile-link" href="{% url 'profile_update' %}">
        <i class="fas fa-edit"></i> Edit
      </a>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4 col-sm-12 text-center mx-auto"> <!-- Center on small and medium screens -->
        <div class="circular-profile-image shadow circular-shadow">
          {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" alt="profile image" class="img-fluid rounded-circle" />
          {% else %}
          <div class="default-profile-image text-light">
            <span style="font-size: 100px;">&#128060;</span>
          </div>
          {% endif %}

        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-info">
          <div class="profile-field">
            <h3 class="field-label">Username:</h3>
            <span class="field-value">{{ user.username }}</span>
          </div>
          <div class="profile-field">
            <h3 class="field-label">Email:</h3>
            <span class="field-value">{{ user.email }}</span>
          </div>
          <div class="profile-field">
            <h3 class="field-label">First Name:</h3>
            <span class="field-value">{{ user.first_name }}</span>
          </div>
          <div class="profile-field">
            <h3 class="field-label">Surname:</h3>
            <span class="field-value">{{ user.surname }}</span>
          </div>
          <div class="profile-field">
            <h3 class="field-label">Phone:</h3>
            <span class="field-value">{{ user.phone }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.is_staff or user.is_superuser %}
  <div class="container mt-4">
    <legend class="border-bottom mb-4">Admin panel</legend>
    <ul>
        <li><a href="{% url 'accounts:manage_staff_users' %}" target="_blank">Manage / Create Staff users</a></li>
      </ul>
    </div>
  {% endif %}
  
{% endblock content %}