{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %} 

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Profile</legend>
            <p><span>Username:</span> {{user.username}}<span class='btn btn-outline-primary btn-sm ms-4 mb-4 underline'><a href="{% url 'profile_update_username' %}"> <i class="fas fa-edit"></i> Edit username</a></span></p>
            <p><span>Email:</span> {{user.email}}<span class='btn btn-outline-primary btn-sm ms-4 mb-4 underline'><a href="{% url 'email_update' %}"> <i class="fas fa-edit"></i> Edit Email</a></span></p>
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group" id="signup-button">
            <button type="submit" class="btn btn-info">Update Profile</button>
            <button type="" class="btn btn-danger"><a href="{% url 'profile' %}">Cancel</a></button>
        </div>
      </form>
</div>

{% endblock %}
