h2 {
  color: #777777
}

.comment-reply {
  display:none;
}

/* Style child comments as block replies */
.child-comment {
  border-left: 4px solid #ccc; /* Add a left border to create a visual separator */
  margin-left: 20px; /* Adjust the margin for indentation */
  padding-left: 10px; /* Add some padding for spacing */
}

.wmd-panel {
  margin-left: 0% !important; 
  margin-right: 0% !important; 
}



/* @@ post_form: preview  */
.wmd-preview{ 
  /*prevent default preview to generate a custom one*/
  display: none;
}

#preview-content img {
    /* images inside content-markdown maintain the same size */
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* @@ post_detail: object cover imgs =====================================================================*/
.post-body img{ 
  /* post_detail cover container: images inside content-markdown maintain the same size */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-image {
  /* post_detail cover: post image container */
  width: 100%;
  height: 0;
  padding-bottom: 46.88%; /* 900 / 1920 * 100 */
  position: relative;
  overflow: hidden;
}
.post-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* @@ post_list: object cover imgs==========================================================================*/
.post-detail-content img{ 
  /* images inside content-markdown maintain the same size */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-img-top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}