{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}POSTS{% endblock head_title %}</title>

    <!--Jquery-->
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <!--marked-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/8.0.0/marked.min.js" integrity="sha512-BXVL0B4hjclkEj5vS1KjYncDRB7XHVAUFb/j8oaOZMTVK38R6hj6ZQsLCuijQyuN73ECpNrlc7YEC2cbfxOoLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <script src="https://kit.fontawesome.com/98d1538458.js" crossorigin="anonymous"></script>

    <!--apply Jquery function Markdown HTML-->
    <script type='text/javascript'>
        $(document).ready(function () {
            // Render Markdown content
            $(".content-markdown").each(function () {
                var content = $(this).text();
                var markedContent = marked(content);
                $(this).html(markedContent);
            });
    
            // Style images inside post_detail
            $(".post-detail-item img").each(function () {
                $(this).addClass("img-thumbnail");
            });

            // preview-title
            var titleItem = $("#id_title");
            $("#preview-title").text(titleItem.val())

            // preview-content
            var contentItem = $("#wmd-input-id_content");
            $("#preview-content").text(contentItem.val())
        });
    </script>
    {% block head_extra %} {% endblock head_extra%} <!--for post_form-->
</head>

<body>
    <!-- Facebook Comments --> 
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v17.0" nonce="V5HI9YZM"></script>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" 
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1
             &version={graph-api-version}
             &appId={your-facebook-app-id}
             &autoLogAppEvents=1" 
        nonce="FOKrbAYI">
  </script>
  
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>