{% extends "base.html" %}
{% load static %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 mx-auto py-5">
    <h1 class='pb-2'>Chekout order</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id='form-wrapper'>
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required placeholder='Name..' name='name' type="text" class="form-control">
                        </div>
                        <div class="form-field">
                            <input required placeholder='Email..' name='email' type="email" class="form-control">
                        </div>
                        <hr/>
                    </div>
                    <div id="shipping-info">
                        {% if shipping_required %}
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input placeholder='Address..' name='address' type="text" class="form-control">
                            </div>
                            <div class="form-field">
                                <input placeholder='State..' name='state' type="text" class="form-control">
                            </div>
                            <div class="form-field">
                                <input placeholder='Country..' name='country' type="text" class="form-control">
                            </div>
                            <div class="form-field">
                                <input placeholder='Zipcode..' name='zipcode' type="text" class="form-control">
                            </div>
                            <hr>
                            <input id='form-button' class='btn btn-success btn-block' value='Continue' type="submit">
                        {% endif %}
                    </div>

                </form>
            </div>
            <br>

            <div class="box-element mb-3 bg-info-subtle" id='payment-info'>
                <small>Paypal Options</small>
                <button id='make-payment'>Make payment</button>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'store:cart' %}" class="btn btn-outline-dark">&larr; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% if items %}
                    {% for item in items %}
                        {% if item.quantity > 0 %}
                        <div class="cart-row">
                            <div style="flex:2;"><img class='row-image' src="{{item.product.imageURL}}" alt="{{item.product.name}}_img"></div>
                            <div style="flex:2;"><p>{{item.product.name}}</p></div>
                            <div style="flex:1;"><p>${{item.product.price}}</p></div>
                            <div style="flex:1;"><p>X {{item.quantity}}</p></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <th><h5>Items: <span id="cart-items">{{order.get_cart_items}}</span></h5></th>
                    <th><h5>Total: $<span id="cart-total">{{ order.get_cart_total|floatformat:2 }}</span></h5></th>
                </tr>

            </div>
        </div>
    </div>
</div>


<script type='text/javascript'>
    var shipping = '{{ shipping_required }}'; 

    if (user != 'AnonymousUser'){
        // User is logged in, hide user-info and show shipping-info
        document.getElementById('user-info').style.display = 'none';
        document.getElementById('shipping-info').style.display = 'block';
    }
    
    if (shipping === 'False' && user != 'AnonymousUser'){
        // User is logged in and no need of shipping, hide the entire form-wrapper
        var formWrapper = document.getElementById('form-wrapper');
        if (formWrapper) {
            formWrapper.style.display = 'none';
        }
        document.getElementById('user-info').style.display = 'none';
    }

    form.addEventListener('submit', function (e) {
        // hide Checkout btn and show payment options
        e.preventDefault();
        console.log("Form submitted...");
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('shipping-info').style.display = 'block';
        document.getElementById('payment-info').classList.remove('hidden');
    });

    document.getElementById('make-payment').addEventListener('click', function(e){
        // target make-payment btn 
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')

        // Get the total from the span element
        var totalElement = document.getElementById('cart-total');
        var total = totalElement.textContent;

        var userFormData = { //declare
            'name': null,
            'email':null,
            'total': total,
        }
        var shippingInfo = { //declare
            'address': null,
            'city':null,
            'state':null,
            'zipcode':null,
        }
        if (shipping !== 'False'){ // if needs shipping fill in 
            shippingInfo.address = form.address.value;
            shippingInfo.state = form.state.value;
            shippingInfo.country = form.country.value;
            shippingInfo.zipcode = form.zipcode.value;
        }
        if (user == 'AnonymousUser'){ // if no user logged fill in
            userFormData.name = form.name.value;
            userFormData.email = form.email.value;
        }

        var url = "{% url 'store:process_order' %}";


        fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken': csrftoken, // is in head of base
            },
            body: JSON.stringify({'form':userFormData,'shipping':shippingInfo})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'store:store' %}";
        })
        .catch((error) => {
        console.error('Error:', error);
        });
    }
</script>



{% endblock content %}
