{% extends "base.html" %}
{% load static %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 mx-auto py-5">
    <h1 class='pb-2'>Chekout order</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id='form-wrapper'>
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required placeholder='Name..' name='name' type="text" class="form-control">
                        </div>
                        <div class="form-field">
                            <input required placeholder='Email..' name='email' type="email" class="form-control">
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr/>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input placeholder='Address..' name='address' type="text" class="form-control">
                        </div>
                        <div class="form-field">
                            <input placeholder='State..' name='state' type="text" class="form-control">
                        </div>
                        <div class="form-field">
                            <input placeholder='Country..' name='country' type="text" class="form-control">
                        </div>
                        <div class="form-field">
                            <input placeholder='Zipcode..' name='zipcode' type="text" class="form-control">
                        </div>
                        <hr>
                        <input id='form-button' class='btn btn-success btn-block' value='Continue' type="submit">
                    </div>

                </form>
            </div>
            <br>

            <div class="box-element hidden mb-3 bg-info-subtle" id='payment-info'>
                <small>Paypal Options</small>
                <button id='make-payment'>Make payment</button>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'store:cart' %}" class="btn btn-outline-dark">&larr; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% if items %}
                    {% for item in items %}
                        {% if item.quantity > 0 %}
                        <div class="cart-row">
                            <div style="flex:2;"><img class='row-image' src="{{item.product.imageURL}}" alt="{{item.product.name}}_img"></div>
                            <div style="flex:2;"><p>{{item.product.name}}</p></div>
                            <div style="flex:1;"><p>${{item.product.price}}</p></div>
                            <div style="flex:1;"><p>X {{item.quantity}}</p></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr>
                    <th><h5>Items: {{order.get_cart_items}}</h5></th>
                    <th><h5>Total: $<span id="cart-total">{{ order.get_cart_total|floatformat:2 }}</span></h5></th>
                </tr>

            </div>
        </div>
    </div>
</div>


<script type='text/javascript'>
    var form = document.getElementById('form');

    form.addEventListener('submit', function (e) {
        // hide Chekout btn and show payment options
        e.preventDefault();
        console.log("Form submitted...");
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('shipping-info').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    });

    document.getElementById('make-payment').addEventListener('click', function(e){
        // target make-payment btn
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')
    }
</script>

{% endblock content %}
