{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 mx-auto py-5">
    <h1>Comment Thread</h1>

    <!-- Comment Thread Content -->
    <div class="comment">
        <blockquote class="blockquote">
            <small class='text-muted'><strong>@{{ comment.user }}</strong> | {{ comment.timestamp|timesince }} ago| {% if comment.children.count > 0 %}{{ comment.children.count }} Answer{% if comment.children.count > 1 %}s{% endif %} |{% endif %}</small>
            <p>{{ comment.content }}</p>
        </blockquote>

        <!-- list Child comments -->
        <div id="comment-{{ comment.id }}">
            {% if comment.children.count > 0 %}
                {% for child_comment in comment.children %}
                    <blockquote class="blockquote ms-4">
                        <small class='text-muted'><strong>@{{ child_comment.user }}</strong> | {{ child_comment.timestamp|timesince }} ago</small>
                        <p>{{ child_comment.content }}</p>
                    </blockquote>
                {% endfor %}
            {% endif %}

            <!-- Reply comment form -->
            <form action="{% url 'comments:thread' id=comment.id %}" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input type="hidden" name='parent_id' value='{{ comment.id }}'>
                <input type="submit" value="Reply" class="btn btn-primary reply-btn">
            </form>
        </div>
    </div>
    <hr/>
</div>
{% endblock content %}
