{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %} 


{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}

<div class='anchortags-and-post-body'>
    <div class="col-md-8 mx-auto py-5">
        

        <div class='anchortags pb-3'>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"  target="_blank">
                <i class="fab fa-facebook-square fa-fw"></i>
                |
            </a>
        
            <a href="https://x.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}"  target="_blank">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-1nao33i r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp fa-fw">
                    <g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g>
                </svg>
                |
            </a>
        
            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'  target="_blank">
                <i class="fab fa-google-plus-square fa-fw"></i>
                |
            </a>
        
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}"  target="_blank">
                <i class="fab fa-linkedin fa-fw"></i>
                |
            </a>
        
            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}." target="_blank">
                <i class="fab fa-reddit-square fa-fw"></i>
            </a>
        </div>
        
        

            <div class='post-body'>
                <!-- Like button -->
                <div class="fb-like" 
                data-href="{{ request.build_absolute_uri }}" 
                data-width="200"
                data-layout="standard" 
                data-action="like" 
                data-size="small"  
                data-share="false">
                </div>
                
                <hr />
                {% if instance.image %}
                <div class="post-image">
                    <img src={{ instance.image.url }} class='img-fluid'/>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <h1 class="fw-bold">{{ instance.title }}</h1>
                        <h4>
                            {% if instance.draft %}
                                <span style='color:red;'>Draft</span>
                            {% endif %}
                            {{ instance.publish }}
                        </h4>
                    </div>
                </div>
                
                {% if instance.user.get_full_name  %}
                    <p class="fst-italic">Written by: {{ instance.user.get_full_name }}</p><br/><!-- {{ instance.user }} is the same-->
                {% endif %}
                <h5 class='pt-3 post-detail-content'>{{instance.get_markdown|linebreaksbr}}</h5>
            </div>

            <!--Comments-->
            <div>
                <p class='lead'>Comments</p>
                <!-- New comment form -->
                <form action="{% url 'post_detail' slug=instance.slug %}" method="post">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                </form>
                <hr/>
            
                {% for comment in comments %}
                    <div class="comment">
                        <blockquote class="blockquote">
                            <small class='text-muted'><strong>@{{ comment.user }}</strong> | {{ comment.timestamp|timesince }} ago| {% if comment.children.count > 0 %}{{ comment.children.count }} Answer{% if comment.children.count > 1 %}s{% endif %} |{% endif %} <a href="#" class='comment-reply-btn' data-target="comment-{{ comment.id }}">Reply</a></small>
                            <p>{{ comment.content }}</p>
                        </blockquote>
            
                        <!-- Child comment view -->
                        <div class="comment-reply" id="comment-{{ comment.id }}" style='display:none;'>
                            {% for child_comment in comment.children %} 
                                <blockquote class="blockquote ms-4">
                                    <small class='text-muted'><strong>@{{ child_comment.user }}</strong> | {{ child_comment.timestamp|timesince }} ago</small>
                                    <p>{{ child_comment.content }}</p>   
                                </blockquote>
                            {% endfor %} 
                        
                            <!-- Reply comment form -->
                            <form action="{% url 'post_detail' slug=instance.slug %}" method="post">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input type="hidden" name='parent_id' value='{{ comment.id }}'>
                                <input type="submit" value="Reply" class="btn btn-primary reply-btn">
                            </form>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
            
            
    </div>
</div>

        
        

{% endblock content %}