{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load markdown_deux_tags %}


{% block head_extra %}
{{ form.media }}

{% endblock head_extra %}

{% block content %}
<div class="row p-5">
    <!--Post preview-->
    <div class="col-sm-6">
        <h1>Preview</h1>
        <hr/>
        {% if instance.image %}
                <div class="post-image realtime-img-preview">
                    <img src={{ instance.image.url }} class='img-fluid'/>
                </div>
        {% endif %}
        
        <div class="content-preview" id="markdown-content">
            <h3 id="preview-title" class="fw-bold"></h3>
            <div id="preview-content"></div>
        </div>
    </div>

    <!--Create Post-->
    <div class='col-sm-6'>
        <h1>Create post</h1>
        <hr/>
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            <!-- {{ form.as_p }}  -->
            {{ form|crispy }} 
            <input type='submit' value='Create Post'/>
        </form>
    </div>

</div>
{% endblock content %}


