{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 mx-auto py-5">
  <h1>Thread</h1>

  <!-- Parent Comment =========================================================-->
  {% include 'comments/comment_template.html' with comment=parent_comment %}


  <!-- Children Comments =============================================================-->
  <div class="child-comments">
    {% for child_comment in children_comments %}
    <div class="comment-box">
        <!-- Include child_comment_template -->
        {% include 'comments/child_comment_template.html' with child_comment=child_comment %}
        
        <!-- Replies to Child Comment view --------------------------------------------->
        <div class="child-replies">
          {% for reply_comment in child_comment.children.all %}
          <div class="comment-box">
            <blockquote class="blockquote ms-4">
              <!-- Include child_comment_template for reply comments -->
              {% include 'comments/child_comment_template.html' with child_comment=reply_comment %}
            </blockquote>
          </div>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
  



  <!-- new comment form ====================================================================================================-->
  <div id="reply-form-wrapper">
    {% if request.user.is_authenticated %}
    <div>
      <form id="new-comment-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="{{ parent_comment.content_type }}">
        <input type="hidden" name="object_id" value="{{ parent_comment.object_id }}">
        {{ comment_form|crispy }}
        <div id="new-comment-form-button">
          <button type="submit" value="Reply" class="btn btn-primary">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
      {% else %}
      <p class="text-danger">
        <a href="{% url 'login' %}">You must login to comment</a>
      </p>
    </div>
    {% endif %}

  </div>



</div>
{% endblock content %}