{% extends "base.html" %}
{% block head_title %}♣ Courses • Checkout{% endblock head_title %}<!--Alt + 0149-->
{% load static %}
{% load urlify %}
{% load crispy_forms_tags %}
{% load course_custom_tags %}

{% block content %}
<h1 class="display-4 alert border text-center">Checkout</h1>
<hr>
<h1>you are going to enroll {{course.name}}</h1>
<hr>
<div>
    <form action="/login" method="post">
        {% csrf_token %}

        <input type="submit" value="Checkout">
    </form>
</div>
{% endblock %}