{% extends "base.html" %}
{% block head_title %}♣ Courses • Checkout{% endblock head_title %}<!--Alt + 0149-->
{% load static %}
{% load urlify %}
{% load crispy_forms_tags %}
{% load course_custom_tags %}

{% block content %}
<h1 class="display-4 alert border text-center">Checkout</h1>
<hr>
<h1 class="text-center">You are going to enroll:</h1>
<ul>
    <li>Course Name: <strong>{{course.name}}</strong></li>
    <li>Description: {{course.description}}</li>
    <li>Course price: {{course.price|money_sign}}</li>
    <li>Discount: {{course.discount}}%</li>
    <p><strong>Total: {% cal_sellprice course.price course.discount as value %}{{value|money_sign}}</strong></p>
</ul>
<hr>
<div class="justify-content-center align-items-center  text-center">
    <form action="/login/" method="post">
        {% csrf_token %}

        <input type="submit" value="Checkout" >
    </form>
</div>
{% endblock %}